<!doctype html>
<html lang="en-US">
<head>
  <%= stylesheet_link_tag 'rss_styles' %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= javascript_include_tag 'rss_parser' %>
</head>

<body>
  <div id="w">
    <div id="content">
      <h1>Read While You Feed</h1>
      
      <div id="celebs" class="feedcontainer"></div>
      <hr>
      <div id="world-news" class="feedcontainer"></div>
      <hr>
      <div id="top-blogs" class="feedcontainer"></div>
      <hr>
      <div id="oddly-enough" class="feedcontainer"></div>
      <hr>
      <div id="life-style" class="feedcontainer"></div>
    </div><!-- @end #content -->
  </div><!-- @end #w -->
<script type="text/javascript">
$(function(){
  // running custom RSS functions
  parseRSS('http://api.feedzilla.com/v1/categories/5/articles.rss', '#celebs');
  parseRSS('http://api.feedzilla.com/v1/categories/19/articles.rss', '#world-news');
  parseRSS('http://api.feedzilla.com/v1/categories/31/articles.rss', '#top-blogs');
  parseRSS('http://api.feedzilla.com/v1/categories/36/articles.rss', '#oddly-enough');
  parseRSS('http://api.feedzilla.com/v1/categories/29/articles.rss', '#life-style');
});
</script>
</body>
</html>
