$fg-column: 60px;
$fg-gutter: 25px;
$fg-max-columns: 12;
$main-font: Arial Rounded, sans-serif;
$gw-column: 100px;
$gw-gutter: 50px;

body {
  width: 100%;
  margin-left: $gw-gutter;
  margin-right: $gw-gutter;
  margin-top: 50px;
  color: white;
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  font-size: 36px;
  background: #05B8CC;
}

table {
  width: 97%;
}

td {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  text-align: center;
  width: 50%;
  height: 250px;
  font-size: 48px;
  padding-bottom: 50px;
}

.header-bar {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  width: 85%;
  margin: 30px;
  padding: 30px;
  height: 25px;
  font-size: 24px;
  text-align: right;
  color: white;
}

.form-label {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
}

.submit-button {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  background-color: #9D1309;
  padding: 20px;
  border-radius: 8px;
  height: 55px;
  width: 92%;
  font-size: 24px;
}


.articles-button {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  height: 55px;
  width: 50%;
  font-size: 24px;
  color: #9D1309;
  margin-right: 10px;
}

.punch-card {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  text-align: center;
}

input {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 8px;
  height: 50px;
  width: 90%;
  font-size: 24px;
  margin-bottom: 20px;
}

.submit{
  font-size: 24px;
  border: 110px solid #ffcece;
  background-color: #ea8f8f;
  border-radius: 300px;
  padding: 10px;
  height: 425px;
  width: 90%;
  text-align: center;
  color: #262626;
  margin-left: -10%;
}

.bottle{
  margin-left: -10%;
  font-size: 24px;
  border: 110px solid #ffcece;
  background-color: #30D173;
  border-radius: 300px;
  padding: 10px;
  height: 425px;
  width: 90%;
  text-align: center;
  color: #262626;
  margin-bottom: 30px;
}


.form-checkbox {
  margin-right: -300px;
}

#user_time_zone {
  width: 92%;
  height: 50px;
  font-size: 24px;
  margin-bottom: 20px;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 50px;
  padding:5px;
  width: 92%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th.text-left {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th.text-left:first-child {
  border-top-left-radius:3px;
}
 
th.text-left:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr.table-fill {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}
 
tr.table-fill:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr.table-fill:first-child {
  border-top:none;
}

tr.table-fill:last-child {
  border-bottom:none;
}
 
tr.table-fill:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr.table-fill:nth-child(odd):hover td {
  background:#4E5066;
}

tr.table-fill:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr.table-fill:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td.text-left {
  background:#FFFFFF;
  padding:20px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
  width: 20%;
  height: 30px;
}

td.text-left:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: center;
  width: 20%;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: center;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

