$fg-column: 60px;
$fg-gutter: 25px;
$fg-max-columns: 12;
$main-font: Arial Rounded, sans-serif;
$gw-column: 100px;
$gw-gutter: 50px;

body {
  width: 100%;
  margin-left: $gw-gutter;
  margin-right: $gw-gutter;
  margin-top: 50px;
  color: white;
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  font-size: 36px;
  background: #05B8CC;
}

table {
  width: 100%;
}

td {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  width: 50%;
  height: 250px;
  font-size: 48px;
  padding-bottom: 50px;
}

.header-bar {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  width: 85%;
  margin: 30px;
  padding: 30px;
  height: 25px;
  font-size: 24px;
  text-align: right;
  color: white;
}

.form-label {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
}

.submit-button {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  background-color: #9D1309;
  padding: 20px;
  border-radius: 8px;
  height: 55px;
  width: 50%;
  font-size: 24px;
  color: white;
}


.articles-button {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  height: 55px;
  width: 50%;
  font-size: 24px;
  color: #9D1309;
  margin-right: 10px;
}

.punch-card {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  text-align: center;
}

.submit{
  margin-left: 5px;
  font-size: 22px;
  border: 110px solid #ffcece; 
  background-color: #ea8f8f; 
  border-radius: 300px; 
  padding: 10px; 
  height: 425px; 
  width: 425px; 
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.bottle{
  margin-left: 5px;
  font-size: 22px;
  border: 110px solid #ffcece; 
  background-color: #30D173; 
  border-radius: 300px; 
  padding: 10px; 
  height: 425px; 
  width: 425px; 
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

input {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 8px;
  height: 35px;
  width: 340px;
  font-size: 24px;
  margin-bottom: 20px;
}

.submit{
  margin-left: 20px;
  font-size: 24px;
  border: 110px solid #ffcece; 
  background-color: #ea8f8f; 
  border-radius: 300px; 
  padding: 10px; 
  height: 425px; 
  width: 425px; 
  text-align: center;
  color: white;
}

.form-checkbox {
  margin-right: -300px;
}
